.wrapper {
    display: grid;
    grid-template-areas: 'picme story'
        'picme story'
        'picme link';
    grid-template-columns: 50% 50%;
}

ul.picme {
    grid-area: picme;
}

.story {
    grid-area: story;
}

.link{
    grid-area: link;
}