body{
    background-image: url(expbg2.jpeg);
}
a{
    text-decoration: none;
    color: black;
}
li{
    list-style: none;
    margin-right: 80px;
}
.navbar{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;    
}
.travel>li>img{
    height: 80px;
    width: 160px;
    margin: 10px;
}
.language>li>img{
    height: 40px;
    width: 60px;
    margin: 10px;
}

/* NAVBAR */
/* PROFIL */



/* PICTURE */
    
/* PICTURE */
/* Form */
input, textarea
{      
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: none;
    margin: 5px;   
    padding: 10px;
    background: rgba(255,255,255,0.4);
    color: #333;
    -webkit-box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
    box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5); 
        
}

input#user_fname, input#user_lname
{
    width: 150px;
}

#user_mail, #subject_mail, #message
{
    width: 335px;
}

#sendmessage
{
    width: 354px;
}
/* Form */