/* portfolio */
#portfolio {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.website {
    text-align: center;
    width: 100%;
    
}



.webimg {    
    width: 15vw;
    height: 30vh;
    filter: grayscale(100%);
    transition: transform .2s;
}

.webimg:hover {
    filter: none;
    transform: scale(1.5);
}

.describefolio {
    font-size: 2rem;
}