html {
  background-color: #333;
  font-size: 62.5%;
  /* Ré-équilibrage du Rem face au Pixel pour des calculs simples */
}

body {
  background-image: url(/assets/img/Grey-background-for-site11.webp);
  background-size: cover;
  width: 80vw;
  margin: auto;
  border: double black 2px;
  -webkit-box-shadow: 0px 0px 50px 20px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 50px 20px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 50px 20px rgba(0, 0, 0, 0.75);
}

.wrapper {
  padding-top: 5vh;
}
.link {  
  padding: 3vh;
}
.indexlink {  
  padding: 3vh;
}
ul.picme {
  height: auto;
  width: 50vw;
  text-align: center;
  list-style: none;
}

li.picme {
  padding-bottom: 10px;
  font-size: x-large;
  font-weight: bold;
  width: 70%;
}

h1 {
  text-align: center;
}

img.picme {
  height: 80%;
  width: 50%;
  -webkit-box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.9);
  box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.9);
}

.wrapper {
  width: 100%;
}

.story {
  width: 80%;
  height: auto;
  padding: 20px 15px 5px 15px;
  text-align: center;
  margin: auto;
  font-size: 2rem;
}

.storyskills {
  background: rgba(255, 255, 255, 0.4);
  color: #333;
  -webkit-box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.5);
  width: 70%;
}

.storytelling {
  padding-top: 2vh;
  padding-bottom: 2vh;
}

/* video loisir */
.hobbywrapper {
  text-align: center;
}

li {
  list-style: none;
  padding-top: 5px;
  margin: auto;
}

/* Mise en page hobbies */
.game {
  padding-top: 5vh;
  padding-bottom: 15vh;
}

.science,
.sport {
  padding-bottom: 5vh;
}

.hobbies {
  font-size: 2rem;
}

h2,
h3,
h4 {
  font-size: 3.5rem;
}

.zindex {
  z-index: 1;
}